@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url(../fonts/Archia\ Regular\ Desktop/Archia-Regular.otf); */

@font-face
        {
      font-family: 'Archia';
      src: local("Archia"), url("../fonts/Archia Regular Desktop/Archia-Regular.otf");
    }
@font-face
        {
      font-family: 'BespokeSerif';
      src: local("BespokeSerif"), url("../fonts/BespokeSerif_Complete/BespokeSerif_Complete/Fonts/OTF/BespokeSerif-Regular.otf");
    }
@font-face
        {
      font-family: 'BespokeSerifI';
      src: local("BespokeSerifI"), url("../fonts/BespokeSerif_Complete/BespokeSerif_Complete/Fonts/OTF/BespokeSerif-LightItalic.otf");
    }
@font-face
        {
      font-family: 'Supreme';
      src: local("Supreme"), url("../fonts/Supreme_Complete/Supreme_Complete/Fonts/OTF/Supreme-Regular.otf");
    }
@font-face
        {
      font-family: 'Chillax';
      src: local("Chillax"), url("../fonts/Chillax_Complete/Chillax_Complete/Fonts/OTF/Chillax-Bold.otf");
    }
@font-face
        {
      font-family: 'Inter';
      src: local("Inter"), url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
    }
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: Supreme;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.fontty{
    font-family: Inter;
}