@font-face
        {
      font-family: 'Chillax';
      src: local("Chillax"), url("../fonts/Chillax_Complete/Chillax_Complete/Fonts/OTF/Chillax-Medium.otf");
    }

    .fontty{
        font-family: Inter;
    }